[core]
    editor = zed --wait
	excludesfile = /Users/dominiksieron/.gitignore_global
[user]
    name = Dominik Sieroń
    email = 71605737+CALLmeDOMIN@users.noreply.github.com
[alias]
    alias = !git config --get-regexp '^alias\\.' | grep -v '^alias\\.alias\\b'
    st = status
    sw = switch
    swtich = switch
    sm = switch master
    fo = fetch origin
    conf = config --global --edit
    cge = config --global --edit
    co = commit
    ch = checkout
    chd = checkout .
    cb = checkout -b
    rh = reset HEAD
    aa = add -A
    cdf = clean -df
    br = branch
    bra = branch -a
    pr = pull --rebase
    amend = commit -a --amend --no-edit
    coam = commit -a --amend --no-edit
    wtls = worktree list
[init]
	defaultBranch = main
[credential]
	helper = osxkeychain
[includeIf "gitdir:~/repos/"]
	path = /Users/dominiksieron/.gitconfig-repos
